.active {
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
  background: #5932ea;
  color: white !important;
  fill:white!important;
  stroke: white!important;
}
.common {
  color: #9197b3;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-left: 20px;
  .btn {
    justify-content: flex-start;
    border: none;
    align-items: center;
    padding: 20px 60px;
    width: 50%;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }
}
