@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.container_dashboard{
    font-family: Poppins, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-left: 71px;
    width: 90%;
    background-color: #f8fafe;

    .header_dashboard{
        width: 100%;
        margin-top: 41px;
        margin-bottom: 24px;

        font-size: 24px;
        font-weight: 500;
        background-color: #ffffff;

        justify-items: flex-start;
    }

    .earnig_dashboard{
        display: flex;
        width: 80%;
        justify-content: space-around;
        

        .earning_item{
            margin: 0;
            padding: 0;
            display: flex;
            margin-left: 63px;
            margin-top: 32px;
            margin-bottom: 35px;
            max-height: 84px;
            
            
            .earning_content{
                display: flex;
                flex-direction: column;
                padding-left: 20px;
            }

            .earning_title{
                font-weight: 400;
                color: #ACACAC;
            }
            
            .earning_number{
                color:#333333;
                font-size: 34px;
                font-weight: 600;
            }
            .earning_mount{
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 12px;
            }
            .procent_green{
                font-weight: 700;
                color: #00AC4F;
            }
            .procent_red{
                font-weight: 700;
                color: #D0004B;
            }
        }


        .earnig_item_logo{
            padding: 21px;
            border-radius: 50%;
            
        }
        .green{
            background: linear-gradient(201.18deg, #c9ffe1 3.14%, #EFFFF6 86.04%);
        }
        .blue{
            background: linear-gradient(201.18deg, #CAF1FF 3.14%, #CDF4FF 86.04%);
        }
        .red{
            background: linear-gradient(201.18deg, #FFA3CF 3.14%, #FFD5F3 86.04%);
        }
    }
}

@media only screen and (max-width: 600px) {
    .container_dashboard{
        flex-wrap: nowrap;
    }
  }